@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --color-coffee-dark: #8c6e54;
  --color-coffee-darkest: #5e462a;
  --color-coffee-brown: #664f35;
  --color-underline-color: #e6dbd1;
}
